*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main-content{
    margin-left: 230px;
    transition: 0.5s;

}


.main-content-active{
    margin-left: 30px;
    transition: 0.5s;

}


/* @media screen and (max-width: 768px) {
    .main-content{
        margin-left: 70px;
    }
  } */